@model List<Recipe>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire Recette - Projet_Final_TANG_Victor</title>
</head>
<body>
    <div>
        <p>Recette supprimé!</p>
    </div>
    <hr>
</body>
</html>

