@model Recipe

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire Modification Recette - Projet_Final_TANG_Victor</title>

</head>
<body>
    <div>
        <form asp-action="TreatForm" method="post">
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label asp-for="Instruction"></label>
                <input asp-for="Instruction" />
                <span asp-validation-for="Instruction"></span>
            </div>
            <div>
                <label asp-for="Author"></label>
                <input asp-for="Author" />
                <span asp-validation-for="Author"></span>
            </div>

            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>
