@model Recipe

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire Modification Recette - Projet_Final_TANG_Victor</title>

</head>
<body>
    <div>
        <form id="Id" asp-action="UpdateTreatForm" method="post">
             
            <div>
                <label asp-for="Title">Titre</label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <br>
            <div>
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" rows="4" cols="100"> </textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <br>
            <div>
                <label asp-for="Instruction">Instruction</label>
                <textarea asp-for="Instruction" rows="4" cols="100"> </textarea>
                <span asp-validation-for="Instruction"></span>
            </div>
            <br>
            <div>
                <label asp-for="Author">Auteur</label>
                <input asp-for="Author" />
                <span asp-validation-for="Author"></span>
            </div>

            <button type="submit">Mettre à jour</button>
        </form>
    </div>
</body>
</html>
