@model List<Ingredient>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire Ingredient - Projet_Final_TANG_Victor</title>

</head>
<body>
    <div>
        
        <p>c'est enregistré</p>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        <p>Ingrédient n°@i</p>
        <ul>
            <li>lamb : @Model[i].Name</li>
            <li>da : @Model[i].Category</li>
        </ul>
    }
</body>
</html>