@model Ingredient

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire Ingredient - Projet_Final_TANG_Victor</title>

</head>
<body>
    <div>
        <form asp-action="TreatForm" method="post">
            <div>
                <label asp-for="Name">Nom</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Category">Catégorie</label>
                <input asp-for="Category" />
                <span asp-validation-for="Category"></span>
            </div>

            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>
