<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="importmap"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projet_Final_TANG_Victor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <p>
            <a asp-area="" asp-controller="Recipe" asp-action="DisplayRecipe" class="Title">Miam Fridge</a><!--class="navbar-brand"-->
        </p>
        <div>
            <ul class ="menu">
                <li class="dropdown menu">
                    <a href="#" class="dropbtn">Recette</a>
                    <div class="dropdown-content">
                        <a asp-controller="Home" asp-action="Privacy">Link 1</a>
                        <a asp-controller="Home" asp-action="Privacy">Link 2</a>
                        <a asp-controller="Home" asp-action="Privacy">Link 3</a>
                    </div>
                </li>
                <li class="dropdown menu">
                    <a asp-controller="Ingredient" asp-action="DisplayIngredient" class="dropbtn">Liste des ingrédients</a>
                </li>

                <li class="dropdown menu">
                    <a asp-controller="Recipe" asp-action="RecipeForm" class="dropbtn">Ajouter une recette</a>
                </li>

            </ul>
        </div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer>
        <div class="container">
            <div style="text-decoration:underline">Contact:</div>
            <div>Email: projet@final.com</div>
            <div>Téléphone: 0123456789</div>

            <!-- &copy; 2026 - Projet_Final_TANG_Victor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
