<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projet_Final_TANG_Victor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <p>
            <a asp-area="" asp-controller="Recipe" asp-action="DisplayRecipe" class="Title">Miam Fridge</a>
        </p>
        <div>
            <ul class ="menu">

                
                <li class="dropdown menu">
                    <a asp-controller="Recipe" asp-action="DisplayRecipe" class="dropbtn">Accueil</a>
                </li>

                <li class="dropdown menu">
                    <a asp-controller="Recipe" asp-action="RecipeForm" class="dropbtn">Ajouter une recette</a>
                </li>

                <li class="dropdown menu">
                    <a asp-controller="Ingredient" asp-action="DisplayIngredient" class="dropbtn">Liste des ingrédients</a>
                </li>

            </ul>
        </div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer>
        <div class="container">
            <div style="text-decoration:underline" id="footer">Contact:</div>
            <div id="footer">Email: projet@final.com</div>
            <div id="footer">Téléphone: 0123456789</div>
@*             <div>
                <a href="https://github.com/Yoki990/TANG-Victor-TP-Recette" id="Github"> &#8594 Github</a>
            </div> *@
            <div id="footer">&copy; 2026 - Projet Final TANG Victor</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
